body {
  font-family: Gilroy, sans-serif;
  background-color: #222222;
  color: #f1f1f1;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1160px;
  padding: 0;
  margin: 0 auto;
}

.button {
  width: 125px;
  height: 55px;
  background-color: #fff;
  color: #000;
  border-radius: 65px;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;

  & p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
